{{>admin-nav}}

<div class="container">
    <h1>Posts</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <td>Author</td>
                <td>Title</td>
                <td>description</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{author}}</td>
                <td>{{title}}</td>
                <td style="width: 500px; height: 150px">
                    <div style="overflow-y: scroll; width: 100%; height: 100%; border-bottom:1px solid gray">
                        {{{description}}}
                    </div>
                </td>
                <td class="del-upd">Update</td>
                <td class="del-upd">Delete</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h1>Users</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <td>Author</td>
                <td>Title</td>
                <td>Content</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author</td>
                <td>Title</td>
                <td>Content</td>
                <td class="del-upd">Update</td>
                <td class="del-upd">Delete</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>Title</td>
                <td>Content</td>
                <td class="del-upd">Update</td>
                <td class="del-upd">Delete</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>Title</td>
                <td>Content</td>
                <td class="del-upd">Update</td>
                <td class="del-upd">Delete</td>
            </tr>
        </tbody>
    </table>
    <h1>Category</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <td>Author</td>
                <td>Title</td>
                <td>Content</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author</td>
                <td>Title</td>
                <td>Content</td>
                <td class="del-upd">Update</td>
                <td class="del-upd">Delete</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>Title</td>
                <td>Content</td>
                <td class="del-upd">Update</td>
                <td class="del-upd">Delete</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>Title</td>
                <td>Content</td>
                <td class="del-upd">Update</td>
                <td class="del-upd">Delete</td>
            </tr>
        </tbody>
    </table>
</div>
{{>site-footer}}