<nav>
    <div class="nav-logo">ADMİN SAYFASI</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin/blog">Blog</a></li>
        <li><a href="/admin/blog/new">Add Post</a></li>
        <li><a href="/admin/users">Hakkımda</a></li>
    </ul>
</nav>