<nav>
    <ul>
        <li><a href="/admin/index">Home Page</a></li>
        <li><a href="/admin/blog/new">Add Blog</a></li>
        <li><a href="/admin/category/add">Add Category</a></li>
        <li><a href="/admin/user/add">Add Users</a></li>
    </ul>
</nav>