<nav>
    <div class="nav-logo">LOGO</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/admin/index">Admin</a></li>
        <li><a href="#">Hakkımda</a></li>
        <li><a href="contact.html">İletişim</a></li>
    </ul>
    <div class="login">
        <a href="/users/register">Kayıt Ol</a>
        <a href="login.html">Giriş Yap</a>
    </div>
</nav>