<footer>
    <div class="footer-contact">
        <div class="button-box">
            <a href="https://github.com/BarisYildirimm" class="button" style="background-color: #767676">Github</a>
            <a href="https://www.instagram.com/barisyildirim__" class="button"
                style="background-color: #49769c">Instagram</a>
            <a href="https://www.linkedin.com/in/barış-yıldırım-501334213" class="button"
                style="background-color: #55acee">linkedin</a>
        </div>
        <div class="footer-button-divider"></div>
        <div class="footer-logo" style="background: url(../img/Baris.jpg); background-size: 100% 100%"></div>
        <h3>Barış's Blog</h3>
    </div>
</footer>
{{!--
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="./js/script.js"></script> --}}