{{>site-nav}}
<div class="page-wrap">
    <div class="maincontent">
        <header>
            <h1 class="page-title">Add Post</h1>
        </header>
        <div class="article-content">
            <form>
                <input type="text" placeholder="Post Title*" />
                <textarea id="message" cols="60" rows="10" placeholder="Post Content*"></textarea>
                <input type="text" placeholder="Author*" />
                <button type="submit" style="margin-left: 44%">Add Post</button>
            </form>
        </div>
    </div>
</div>
{{>site-footer}}