{{>site-nav}}
<div class="page-wrap">
    <div class="maincontent">
        <header>
            <h1 class="page-title">İletişim</h1>
        </header>
        <div class="article-content">
            <form>
                <textarea id="message" cols="60" rows="10" placeholder="Your Message*"></textarea>
                <input type="text" placeholder="Your Name*" />

                <input type="text" placeholder="Your Email" />

                <input type="tel" placeholder="Your Phone*" />
                <br />
                <br />
                <button type="submit" style="margin-left: 44%">Mesaj Gönder</button>
            </form>
        </div>
    </div>
</div>
{{>site-footer}}